
<%@event.contributions.each do |contribution| %>
<p> Name: <%=contribution.contributor%> <br>
			<%=contribution.text%> 
			<%= image_tag contribution.photo(:medium) %></p>

			 <%= link_to 'Delete Contribution', [contribution.event, contribution],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<%end%>