
<%@event.contributions.each do |contribution| %>
<p> 
	<h2> <%=contribution.contributor%> </h2> <br>
			<%= image_tag contribution.photo(:larger) %> </br> </br>
			<%=contribution.text%> </p>

			 <%= link_to 'Delete Contribution', [contribution.event, contribution],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

    <hr>

<%end%>